<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>freedomWalk.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AC26AE211C0432C0009DC068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC26AE3A1C0432C0009DC068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AC26AE451C0432C0009DC068</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
